@import "module/reset";
@import "module/button";
@import "cosmetic";

$header-font-size: 30px;

body { font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif; }
.header {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  position: fixed;
  line-height: 3;
  width: 100%;
}

/* アイコン・ロゴ */
.icon { font-weight: bold; }
.icon__logo { width: $header-font-size * 4; }
/* cosmetic */
.icon_flex { display: flex; }

/* ナビゲーション */
.menus {
  margin-left: auto;
  position: relative;
}
.menus__item {
  display: block;
  text-align: center;
}
/* cosmetic */
.menus__item_header {
  line-height: $header-font-size * 1.2;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
