@import "module/reset";
@import "module/button";
@import "cosmetic";

@import url("http://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

$header-font-size: 30px;

body { font-family: Ubuntu, 'Noto Sans JP', 'Helvetica', 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', '游ゴシック体','Yu Gothic', YuGothic; }
.header {
  background-color: $brand-primary;
  font-size: 30px;
  line-height: 3;
}
.icon { font-weight: bold; }
.icon_flex { display: flex; }
.icon__logo { width: $header-font-size * 3.5; }
