@import "module/brandColors";

.width-small { width: 200px; }
.width-middle { width: 400px; }
.width-full { width: 100%; }
.flex { display: flex; }

.inner {
  width: 1024px;
  margin: 0 auto;
}

.color-white { color: white; }
.color-brand-primary { color: $brand-primary; }

@media (max-width: 700px){
  .flex { display: block; }
  .color-white { margin: 0 auto; }
  .color-brand-primary { margin: 0 auto; }
}
