@import "../base";

/* メインヴィジュアル */
.mv-contents {
  background-image: url('../../images/mv_img.jpg');
  background-size: cover;
  height: 75vh;
  &:after {
    background: radial-gradient(circle farthest-side, rgba(black, 0.3), rgba(black, 0.3), transparent 50%, transparent);
    background-size: 10px 10px;
    content: '';
    display: inline-block;
    height: 75vh;
    width: 100vw;
  }
}
.mv-section__catch {
  background-color: rgba(black, 0.2);
  color: white;
  font-size: 65px;
  font-weight: 900;
  position: absolute;
  padding: 50px;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 50%;
}

/* 悩み */
.question-worry { margin-top: 100px; }
.question-worry__title {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.question-worry__body {
  margin-top: 100px;
  min-height: 600px;
}
.question-worry__body__item {
  position: relative;
  height: 100%;
  &.question-worry__body__item_want-1 {
    background-color: #f6ae54;
    width: 35%;
  }
  &.question-worry__body__item_want-2 {
    background-color: #25b7c0;
    width: 30%;
  }
  &.question-worry__body__item_want-3 {
    background-color: #091933;
    width: 35%;
  }
}
.question-worry__body__item__inner {
  width: 80%;
  margin: 0 auto;
}
.question-worry__body__item__img {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
}
.question-worry__body__item__title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 425px;
}
.question-worry__body__item__explain {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

/* メリット */
.merit-section__body {
  background-color: #5373aa;
  margin-top: 50px;
  padding: 75px;
}
.merit-section__body__title {
  @extend .question-worry__title;
  color: white;
}
.merit-section__body__explain {
  @extend .question-worry__body__item__explain;
  margin-top: 55px;
  font-size: 18px;
  text-align: left;
  line-height: 1.7;
}

/* メール */
.mail-section {
  background-color: #eee;
  position: relative;
  margin-top: 50px;
  height: 200px;
}
.mail-section__body__title {
  @extend .question-worry__title;
  padding-top: 30px;
  font-size: 30px;
}
.mail-section__body__btn {
  @extend .btn;
  @extend .btn_recommend;
  @extend .width-middle;
  line-height: 40px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 教室の特徴 */
.features-section {
  background-color: #eee;
  margin-top: 50px;
}
.features-section__body__title {
  @extend .question-worry__title;
  padding-top: 50px;
}
.features-section__body__points { padding-top: 50px; }
.features-section__body__points__item {
  background-size: cover;
  height: 300px;
  width: 60%;
  position: relative;
  background-position: right 10% bottom 40%;
  &.features-section__body__points__item_1 {
    background-image: url('../../images/gotoclassroom.jpg');
    margin-right: auto;
  }
  &.features-section__body__points__item_2 {
    background-image: url('../../images/skill.jpg');
    margin-left: auto;
  }
  &.features-section__body__points__item_3 {
    background-image: url('../../images/money.jpg');
    margin-right: auto;
    background-position: right 10% bottom 90%;
  }
}
.features-section__body__points__item__body {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 40%;
}
.features-section__body__points__item__body__inner {
  margin: 0 auto;
  width: 90%;
}
.features-section__body__points__item__body__title {
  @extend .question-worry__title;
  font-size: 30px;
  margin-top: 20px;
  text-align: left;
}
.features-section__body__points__item__body__explain {
  line-height: 1.5;
  margin-top: 15px;
}

@media (max-width: 1025px) {
  .mv-section__catch { width: 700px; }
  .question-worry__body__item__title { margin-top: 350px; }
  .question-worry__body__item__title { margin-top: 350px; }
  .question-worry__body__item__inner { width: 90%; }
  .features-section__body__points__item__body { width: 80%; }
}
@media (max-width: 700px){
  .mv-section__catch {
    width: 90%;
    font-size: 40px;
    padding: 10px;
  }
  .question-worry__body__item { width: 100% !important; }
  .question-worry__body__item__title {
    margin: 0;
    padding-top: 350px;
  }
  .question-worry__body__item__explain { padding-bottom: 20px; }
  .merit-section__body { padding: 20px; }
  .features-section__body__points__item  { width: 100%; }
  .features-section__body__points__item__body {
    height: 250px;
    top: 50%;
    width: 95%;
  }
  .mail-section__body__title { font-size: 25px; }
  .mail-section__body__btn { width: 300px; }
}
